.productCard {
    border: 2px solid #ccc;
    width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f9f9f9;
}

.productImage{
    height: 350px;
    width: 350px;
}

.productTitle{
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

.productDescription{
    font-size: medium;
    margin-bottom: 10px;
    text-align: center;
}
.productPrice{
    font-size: medium;
    font-weight: bold;
    color: #333;
}